.add{
  background: green;
  color: white;
  border: none;
  padding: 5px 9px;
  cursor: pointer;
  float: right;
}
.book{
  background: #f1f9fb;
  padding: 30px;
  border: 1px solid #cccccc;
}
.mainInfo{
  display: flex;
  flex-direction: row;
}
.mainInfo img,
.mainInfo p{
  padding: 10px;
}
.extraInfo{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
